VITE_AUTH_ISSUER=https://cboi-auth-stage.isupay.inapplication/o/idbi/
VITE_AUTH_DISCOVERY_URL=https://cboi-auth-stage.isupay.inapplication/o/idbi/.well-known/openid-configuration
VITE_AUTH_CLIENT_ID=h0xLFWq1FS6uHKVwk
VITE_AUTH_TOKEN_URL=https://cboi-auth-stage.isupay.inapplication/o/token/
# VITE_AUTH_REDIRECT_URL=https://portal-idbi.isupay.in/redirected
VITE_AUTH_REDIRECT_URL=https://merchant-cboi-uat.isupay.in/callback
VITE_AUTH_GRANT_TYPE=authorization_code
VITE_AUTHORIZATION_CODE=
VITE_AUTH_CODE_VERIFIER=
VITE_USE_STATIC_AUTH=false
VITE_USE_MOCK_AUTH=false
VITE_AUTH_SCOPES=adminName,user_name,goauthentik.io/api,authorities,bankCode,email,profile,openid,offline_access,created,privileges
VITE_API_BASE_URL=https://api-preprod.txninfra.com/encrV4
VITE_FETCH_USER_DETAILS_ENDPOINT=/idbi/fetch/fetchById
VITE_CURRENT_LANGUAGE_ENDPOINT=/idbi/isu_soundbox/user_api/current_language
VITE_FETCH_LANGUAGE_ENDPOINT=/idbi/isu_soundbox/lang/fetch_language
VITE_UPDATE_LANGUAGE_ENDPOINT=/idbi/isu_soundbox/lang/update_language
VITE_STATIC_QR_ENDPOINT=/idbi/merchant/qr_convert_to_base64
VITE_USER_DETAILS_SERIAL_NUMBER=38241108350403
VITE_STATIC_AUTH_TOKEN=
# VITE_STATIC_AUTH_SCHEME=Bearer
VITE_STATIC_PASS_KEY=
VITE_PASS_KEY_HEADER=pass_key
VITE_PAYLOAD_ENCRYPTION_KEY=
